body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  color: #555;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

td, th, caption {
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

a {
  color: #555;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

img {
  border: none; }

ol, ul, li {
  list-style: none; }

input, textarea, select, button {
  font: 14px Verdana,Helvetica,Arial,sans-serif; }

table {
  border-collapse: collapse; }

html {
  overflow-y: scroll; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  *zoom: 1; }

body {
  background: #F3F3F3; }

#top {
  width: 10rem;
  height: 1.44rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0rem;
  z-index: 999; }

#top1 {
  width: 4rem;
  height: 0.8rem;
  margin-left: 0.26667rem; }

.zonez {
  width: 100%;
  height: 7.98667rem; }

.zonez > #zoneza {
  width: 1.76rem;
  height: 1.44rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  background: #7C4E23;
  display: flex;
  align-items: center;
  justify-content: center; }

.zonez > #zoneza > .zonea {
  width: 1.06667rem;
  height: 1.06667rem;
  background: url(../../img/liebiao.png) no-repeat;
  background-size: 100% 100%;
  position: fixed;
  top: 15;
  right: 30;
  z-index: 998;
  transition: 2s; }

.zonez > #zoneza > .zonea > ul {
  width: 7rem;
  height: 16.34667rem;
  list-style: none;
  font-size: 0.46667rem;
  margin-left: 1.76rem;
  margin-top: 1.24rem;
  position: fixed;
  background: #9C8979;
  transition: 1s;
  color: #fff; }

.zonez > #zoneza > .zonea > ul > a > li {
  margin-left: 1.33333rem;
  margin-top: 0.8rem;
  color: #fff; }

.zonez > #zoneza > .zonea > ul > li {
  margin-left: 1.33333rem;
  margin-top: 0.8rem; }

.zonez > #zoneza > .zonea:hover {
  background: url(../../img/cha.png) no-repeat;
  background-size: 100% 100%;
  transition: 2s; }

.zonez > #zoneza > .zonea:hover ul {
  margin-left: -5.25333rem;
  transition: 1s; }

#for5 {
  width: 10rem;
  height: 4.68rem;
  background: url(../../img/b1.jpg) no-repeat;
  background-size: 100% 100%;
  margin-top: 1.44rem; }

#for5_1 {
  font-family: Gadugi;
  line-height: 1.3;
  color: #fff;
  font-size: 0.58667rem;
  margin-left: 3.46667rem;
  margin-top: 1.73333rem;
  position: absolute; }

#for5_2 {
  font-family: Gadugi;
  line-height: 1.3;
  color: #fff;
  font-size: 0.42667rem;
  margin-left: 0.66667rem;
  margin-top: 2.66667rem;
  position: absolute;
  font-weight: 600; }

#zwen {
  width: 9rem;
  height: 22.66667rem;
  margin-left: 0.5rem; }

#zwen1 {
  color: #855A33;
  font-size: 0.37333rem;
  font-weight: 600;
  margin-top: 1.33333rem; }

#zwen2 {
  font-size: 0.37333rem;
  margin-top: 0.26667rem;
  line-height: 0.66667rem; }

#zwen3 {
  font-size: 0.37333rem;
  margin-top: 0.66667rem;
  line-height: 0.66667rem; }

embed {
  margin-top: -1.33333rem; }

#for5a {
  width: 10rem;
  height: 5.53333rem;
  background: url(../../img/a4.jpg) no-repeat;
  background-size: 100% 100%;
  margin-top: -1.86667rem;
  display: flex;
  align-items: center;
  justify-content: center; }

#for5a_1 {
  width: 1.6rem;
  height: 1.6rem;
  background: url(../../img/a5.png) no-repeat;
  background-size: 100% 100%; }

#wena {
  width: 10rem;
  height: 10.90667rem;
  background: #BBBBBB; }

#wenaa {
  width: 10rem;
  height: 10.90667rem;
  background: #BBBBBB;
  margin-top: 0.06667rem; }

#wena1 {
  color: #855A33;
  font-size: 0.37333rem;
  font-weight: 600;
  padding-top: 1.33333rem;
  color: #8F6E4F;
  margin-left: 0.5rem; }

#wena2 {
  color: #323232;
  font-size: 0.48rem;
  margin-top: 0.4rem;
  line-height: 0.66667rem;
  margin-left: 0.5rem;
  font-weight: 600; }

#wena3 {
  font-size: 0.37333rem;
  margin-top: 0.93333rem;
  line-height: 0.66667rem;
  margin-left: 0.5rem; }

#forc5 {
  width: 10rem;
  height: 4.68rem;
  background: url(../../img/a6.jpg) no-repeat;
  background-size: 100% 100%; }

#forc5_1 {
  font-family: Gadugi;
  line-height: 1.3;
  color: #fff;
  font-size: 0.37333rem;
  margin-left: 0.4rem;
  margin-top: 1.06667rem;
  position: absolute; }

#tu {
  width: 9rem;
  height: 13.6rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 0.5rem;
  margin-top: -2rem; }

#tu1 {
  width: 4.25333rem;
  height: 5.8rem;
  background: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap; }

#img {
  width: 3.18667rem;
  height: 3rem; }

#img1 {
  width: 4.25333rem;
  height: 1.2rem;
  background: #9C7D61;
  color: #fff;
  font-size: 0.33333rem;
  padding-left: 0.26667rem;
  display: flex;
  align-items: center; }

#jiazai {
  width: 3.73333rem;
  height: 1.33333rem;
  background: #A0A0A0;
  border-radius: 0.66667rem 0.66667rem 0.66667rem 0.66667rem;
  color: #fff;
  font-size: 0.30667rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3.2rem; }

.row {
  width: 100%;
  height: 8rem;
  overflow: hidden;
  background: #fff;
  margin-top: 2rem; }

.banner {
  width: 100%;
  height: 4.66667rem;
  box-sizing: border-box;
  padding: 0.13333rem 0.26667rem;
  position: relative;
  margin-top: 1.33333rem; }

.TOP {
  width: 30.66667rem;
  height: 4.66667rem;
  padding: 0;
  position: absolute;
  transition: all 0.5s; }

.TOP > li {
  float: left;
  width: 4.73333rem;
  height: 4.66667rem;
  margin-right: 0.13333rem;
  margin-left: 0.13333rem;
  box-sizing: border-box;
  padding-bottom: 1.06667rem;
  padding-top: 0.53333rem;
  border-radius: 0.13333rem;
  position: relative; }

.TOP-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }

.TOP-1 > img {
  width: 4.93333rem;
  height: 2.93333rem;
  border-radius: 50%;
  border: 0.05333rem solid #fff; }

.banner-end {
  width: 100%;
  height: 0.32rem;
  text-align: center;
  margin-top: 0.66667rem; }

.banner-end > span {
  display: inline-block;
  width: 0.26667rem;
  height: 0.26667rem;
  background: #DDF1DD;
  border-radius: 50%; }

#zzz {
  color: #855A33;
  font-size: 0.37333rem;
  font-weight: 600;
  color: #8F6E4F;
  margin-left: 0.5rem; }

#six2 {
  width: 10rem;
  height: 12.72rem;
  background: #777777;
  position: absolute; }

#wen {
  height: 1.33333rem;
  font-family: "Gadugi";
  line-height: 1.1;
  color: #fff;
  font-size: 0.53333rem;
  position: absolute;
  margin-left: 0.66667rem;
  margin-top: 0.66667rem; }

#wen1 {
  font-family: "Gadugi";
  line-height: 1.1;
  color: #fff;
  font-size: 0.4rem;
  position: absolute;
  margin-left: 0.66667rem;
  margin-top: 1.33333rem; }

#wen2 {
  width: 8.66667rem;
  height: 6.4rem;
  font-family: "Gadugi";
  line-height: 1.5;
  color: #fff;
  font-size: 0.4rem;
  position: absolute;
  margin-left: 0.66667rem;
  margin-top: 2.66667rem; }

#wen3 {
  font-family: "Gadugi";
  line-height: 1.1;
  color: #fff;
  font-size: 0.53333rem;
  position: absolute;
  margin-left: 0.66667rem;
  margin-top: 8.66667rem; }

#wen4 {
  position: absolute;
  margin-left: 0.4rem;
  display: flex;
  font-family: "Gadugi";
  line-height: 1.1;
  color: #fff;
  font-size: 0.4rem;
  margin-top: 10.66667rem; }

#wen5 {
  margin-left: 0.26667rem;
  width: 1.86667rem;
  font-family: "Gadugi";
  line-height: 1.1;
  color: #fff;
  font-size: 0.4rem; }

#panel, #flip {
  width: 6.93333rem;
  height: 1.06667rem;
  background: #EEEEEE;
  position: absolute;
  left: 0.8rem;
  font-size: 0.4rem;
  color: #646464;
  line-height: 1.06667rem;
  padding-left: 0.53333rem;
  margin-top: 13.33333rem; }

#panel {
  width: 7.06667rem;
  height: 3.2rem;
  margin-top: -3.33333rem;
  margin-left: -0.13333rem;
  display: none;
  background: #AC8D68; }

#panel1 {
  width: 7.06667rem;
  height: 0.66667rem;
  color: #fff;
  font-size: 0.33333rem; }

#shu {
  width: 0.13333rem;
  height: 1.06667rem;
  background: #7C4E23;
  margin-left: 0.66667rem;
  position: absolute;
  margin-top: 13.33333rem; }

#jiao {
  width: 0.42667rem;
  height: 0.42667rem;
  background: url(../../img/shang.png) no-repeat;
  background-size: 100% 100%;
  margin-top: -0.8rem;
  margin-left: 6rem; }

#flip:hover #jiao {
  width: 0.42667rem;
  height: 0.42667rem;
  background: url(../../img/xia.png) no-repeat;
  background-size: 100% 100%;
  margin-top: -0.8rem;
  margin-left: 6rem; }

#z {
  position: absolute;
  margin-left: 0.8rem;
  font-size: 0.33333rem;
  color: #646464;
  margin-top: 14.66667rem; }

#z1 {
  height: 1.33333rem;
  position: absolute;
  margin-left: 0.8rem;
  font-size: 0.33333rem;
  color: #646464;
  margin-top: 15.33333rem; }

/*# sourceMappingURL=style.css.map */
