@charset "utf-8";
$rem:75;
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
 body{
 	background:#F3F3F3;
 }
#top{
	width:750/$rem*1rem;
	height:108/$rem*1rem;
	background:#fff;
	display: flex;
	align-items:center;
	justify-content: space-between;
	position: fixed;
	top:0/$rem*1rem;
	z-index: 999;
}
#top1{
    width:300/$rem*1rem;
    height:60/$rem*1rem;
    margin-left: 20/$rem*1rem;
}
 .zonez{
	   width:100%;
	   height:599/$rem*1rem;
	}
	.zonez>#zoneza{
	   width:132/$rem*1rem;
	   height:108/$rem*1rem;
	   position:fixed;
	   top:0;right: 0;
	   z-index:999;
	   background: #7C4E23;
	   display: flex;
	   align-items:center;
	   justify-content: center;
	}
	.zonez>#zoneza>.zonea{
	   width:80/$rem*1rem;
	   height:80/$rem*1rem;
	   background:url(../../img/liebiao.png) no-repeat;
	   background-size:100% 100%;
	   position:fixed;
	   top:15;right:30;
	   z-index:998;
		transition:2s;
    }
	.zonez>#zoneza>.zonea>ul{
	   width:525/$rem*1rem;
   	   height:1226/$rem*1rem;
	   list-style:none;
	   font-size:35/$rem*1rem;
	   margin-left:132/$rem*1rem; 
	   margin-top: 93/$rem*1rem;
	   position:fixed;
	   background:#9C8979;
	   transition:1s;
	   color:#fff;
	}
	.zonez>#zoneza>.zonea>ul>a>li{
	  margin-left: 100/$rem*1rem;
	  margin-top: 60/$rem*1rem;
      color:#fff;
    }
    .zonez>#zoneza>.zonea>ul>li{
      margin-left: 100/$rem*1rem;
      margin-top: 60/$rem*1rem;
    }
	.zonez>#zoneza>.zonea:hover{
	 background:url(../../img/cha.png) no-repeat;
	   background-size:100% 100%;
		transition:2s;
	}
	.zonez>#zoneza>.zonea:hover ul{
		margin-left:-394/$rem*1rem; 
		transition:1s;
	}
	#kong{
		width:750/$rem*1rem;
		height:108/$rem*1rem;
	}
	 #for5{
        	width:750/$rem*1rem;
        	height:195/$rem*1rem;
        	background:url(../../img/q7.jpg) no-repeat;
        	background-size: 100% 100%;
        }
.dropdown {
  position: relative;
  display: inline-block;
  width:750/$rem*1rem;
  height:80/$rem*1rem;
  background:#7D7D7D;
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 30/$rem*1rem;
  color:#fff;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width:750/$rem*1rem;
  height:174/$rem*1rem;
  margin-top: 127/$rem*1rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#one{
	display: flex;
	align-items:center;
    justify-content: center;
    flex-wrap:wrap;
}
#one1{
	width:375/$rem*1rem;
	height:86/$rem*1rem;
	border-bottom: 1/$rem*1rem solid #CCCCCC;
	display: flex;
	align-items:center;
    justify-content: center;
    color:#ccc;
}
#one1:hover {
	color:#C26C1C;
}
#wen{
	color: #646464;
	font-size: 28/$rem*1rem;
	line-height: 50/$rem*1rem;
	margin-top: 100/$rem*1rem;
}
#wen0{
	width:675/$rem*1rem;
	margin-left: 37.5/$rem*1rem;
	height:3800/$rem*1rem;
}
#wen1{
	font-size: 45/$rem*1rem;
	font-weight: 600;
	margin-top: 100/$rem*1rem;
	color:#000;
}
#wen2{
	color: #646464;
	font-size: 30/$rem*1rem;
	line-height: 50/$rem*1rem;
	margin-top: 30/$rem*1rem;
}
#img1{
	width:675/$rem*1rem;
	height:316.5/$rem*1rem;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: 100/$rem*1rem;
}
#img10{
	width:675/$rem*1rem;
	height:316.5/$rem*1rem;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#wen10{
	width:645/$rem*1rem;
	height:400/$rem*1rem;
	background:#E5E5E5;
	margin-top: -100/$rem*1rem;
	padding-top:100/$rem*1rem;
	padding-left: 30/$rem*1rem; 
}
#wen100{
	width:645/$rem*1rem;
	height:450/$rem*1rem;
	background:#E5E5E5;
	margin-top: -100/$rem*1rem;
	padding-top:100/$rem*1rem; 
	padding-left: 30/$rem*1rem; 
}
    #six2{
	width:750/$rem*1rem;
	height:954/$rem*1rem;
	background:#777777;
	position: absolute;
}
#zwen{
	height:100/$rem*1rem;
	font-family: "Gadugi";
    line-height: 1.1;
    color: #fff;
    font-size: 40/$rem*1rem;
    position: absolute;
    margin-left: 50/$rem*1rem;
    margin-top: 50/$rem*1rem;
}
#zwen1{
	font-family: "Gadugi";
    line-height: 1.1;
    color: #fff;
    font-size: 30/$rem*1rem;
    position: absolute;
    margin-left: 50/$rem*1rem;
    margin-top: 100/$rem*1rem;
}
#zwen2{
	width:650/$rem*1rem;
	height:480/$rem*1rem;
	font-family: "Gadugi";
    line-height: 1.5;
    color: #fff;
    font-size: 30/$rem*1rem;
    position: absolute;
    margin-left: 50/$rem*1rem;
    margin-top: 200/$rem*1rem;
}
#zwen3{
	font-family: "Gadugi";
    line-height: 1.1;
    color: #fff;
    font-size: 40/$rem*1rem;
    position: absolute;
    margin-left: 50/$rem*1rem;
    margin-top: 650/$rem*1rem;
}
#zwen4{
    position: absolute;
    margin-left: 30/$rem*1rem;
    display: flex;
	font-family: "Gadugi";
    line-height: 1.1;
    color: #fff;
    font-size: 30/$rem*1rem;
    margin-top: 800/$rem*1rem;
}
#zwen5{
	margin-left: 20/$rem*1rem;
	width:140/$rem*1rem;
	font-family: "Gadugi";
    line-height: 1.1;
    color: #fff;
    font-size: 30/$rem*1rem;
}
#panel,#flip
{
	width:520/$rem*1rem;
	height:80/$rem*1rem;
	background:#EEEEEE;
	position:absolute;left:60/$rem*1rem;
	font-size: 30/$rem*1rem;
	color:#646464;
	line-height: 80/$rem*1rem;
	padding-left:40/$rem*1rem; 
	margin-top: 1000/$rem*1rem;
}
#panel
{
	width:530/$rem*1rem;
	height:240/$rem*1rem;
	margin-top:-250/$rem*1rem;
	margin-left: -10/$rem*1rem;
	display:none;
	background:#AC8D68;
}
#panel1
{
	width:530/$rem*1rem;
	height:50/$rem*1rem;
	color:#fff;
	font-size: 25/$rem*1rem;
}
#shu{
	width:10/$rem*1rem;
	height:80/$rem*1rem;
	background:#7C4E23;
	margin-left: 50/$rem*1rem;
	position: absolute;
	margin-top: 1000/$rem*1rem;
}
#jiao{
	width:32/$rem*1rem;
	height:32/$rem*1rem;
	background:url(../../img/shang.png) no-repeat;
	background-size: 100% 100%;
	margin-top: -60/$rem*1rem;
	margin-left: 450/$rem*1rem;
}
#flip:hover #jiao{
	width:32/$rem*1rem;
	height:32/$rem*1rem;
	background:url(../../img/xia.png) no-repeat;
	background-size: 100% 100%;
	margin-top: -60/$rem*1rem;
	margin-left: 450/$rem*1rem;
}
#z{
	position: absolute;
	margin-left: 60/$rem*1rem;
	font-size: 25/$rem*1rem;
	color:#646464;
	margin-top: 1100/$rem*1rem;
}
#z1{
	height:100/$rem*1rem;
	position: absolute;
	margin-left: 60/$rem*1rem;
	font-size: 25/$rem*1rem;
	color:#646464;
	margin-top: 1150/$rem*1rem;
}